.App {
  text-align: center;
}

.movie_list_grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.movie_item {
  background-color: rgb(45, 45, 45);
  color: #ffffff;
}

.sortBar button {
  background-color: rgb(45, 45, 45);
  color: #ffffff;
  padding: 7px 15px;
  margin: 7px 15px
}